/* based on http://bettermotherfuckingwebsite.com/ */
body {
  background: #F8F8F8;
}
article {
  margin: 40px auto;
  max-width: 800px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
}
h1, h2, h3 {
  line-height: 1.2;
}

#navigation-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
  padding: 5px;
  width: 100%;
  background: #EEEEEE;
  z-index: 1;
}

#navigation-content {
  max-width: 1000px;
  margin: auto;
}

pre {
  background: #EAEAEA;
  border-radius: 5px;
  overflow: auto;
  line-height: 1.4;
  font-size: 80%;
}

code {
  background: #EAEAEA;
  border-radius: 5px;
}

pre > code {
  white-space: pre;
}
